:root {
  --color-primary: rgb(47, 200, 233);
  --color-secondary: #629f0a;
  --color-btn-primary: rgb(32, 190, 232);
  --size: 7em;
  --weight: 10%;
  --bounce: 0.3s cubic-bezier(0.3, -0.1, 0.5, 1.4);
  --ease: 0.2s cubic-bezier(0.3, 0.1, 0.3, 1);
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif !important;
}

* {
  box-sizing: border-box;
  /* font-family: "Quicksand", sans-serif !important; */
}

.container {
  max-width: 1280px;
  /* width: 600px; */
  margin: 0 auto;
  /* padding: 20px; */
}

.container-full {
  /* max-width: 1280px; */
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-v {
  flex-direction: column;
}

.flex-h {
  flex-direction: row;
}

.grid {
  grid-gap: 20px;
  display: grid;
}

header .container {
  max-width: 1440px;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: 0 !important;
  padding: 20px;
  /* position: relative; */
}

nav .close-btn {
  z-index: 999;
  padding: 30px;
  top: 20px;
  right: 20px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

nav.show .close-btn {
  opacity: 1;
  visibility: visible;
}

nav .logo {
  margin-right: 10%;
  margin-left: 10%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  justify-self: end;
  background: transparent;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

nav ul li a.active,
nav ul li a:hover,
nav ul li a:focus {
  color: #000000;
  text-decoration: none;
  outline: 0;
}

.checkbox {
  display: none;
}

.menu-trigger {
  position: relative;
}

.nav-button {
  position: relative;
  background-color: white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 3vh;
  right: 3vw;
  z-index: 199;
  box-shadow: 0 1rem 3rem black;
  text-align: center;
  cursor: pointer;
  display: none;
}

.background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5vh;
  right: 5.5vw;
  background: var(--color-primary);
  z-index: 890;
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),
    opacity 0.1s cubic-bezier(0.86, 0, 0.07, 1);
  pointer-events: none;
}

.item {
  margin: 1rem;
  font-size: 36px;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: lightgreen;
  cursor: pointer;
}

.nav-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-icon,
.nav-icon::before,
.nav-icon::after {
  width: 2rem;
  height: 2px;
  background-color: gray;
  display: inline-block;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.nav-icon::before {
  top: -0.7rem;
}
.nav-icon::after {
  top: 0.7rem;
}
.nav-button:hover .nav-icon:before {
  top: -1rem;
}
.nav-button:hover .nav-icon::after {
  top: 1rem;
}

.checkbox:checked + .nav-button .nav-icon {
  background-color: transparent;
}

.checkbox:checked + .nav-button .nav-icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .nav-button .nav-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

@media screen and (max-width: 545px) {
  .nav-button {
    display: inline-block;
  }
  .navbar.show .nav-button {
    z-index: 899;
  }

  .navbar.show .background {
    transform: scale(80);
    opacity: 1;
  }

  nav ul {
    width: 95%;
    position: fixed;
    top: 3vh;
    right: 3vw;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    z-index: 899;
    margin: 0 auto;
    padding-left: 0;
    transform: translateX(100vw);
    transition: 0.5s ease;
  }

  .navbar.show ul {
    list-style: none;
    text-align: center;
    transform: none;
  }

  nav ul li a {
    font-size: 30px;
  }
}

section.pr-text.bg-sec {
  background-color: var(--color-secondary);
}

header {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    rgb(184, 231, 246),
    #ffffff
  );
  background-image: url("./assets/Slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0px 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.header-content {
  display: grid;
  grid-template-columns: 30% 70%;
  max-width: 1000px;
  margin: 0 auto;
}

.intro-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
}

.header-text {
  font-family: "Darker Grotesque", sans-serif;
  /* line-height: 1.2; */
  width: 90%;
  font-size: 45px;
  font-weight: bolder;
  padding: 0 40px 0 40px;
  text-align: center;
  margin-top: -50px;
}

.intro-btns {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  padding: 0 0 50px 0;
}

main h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 20px;
}

.simbi-mobile {
  height: 600px;
  width: 95%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-app {
  /* max-width: 450px; */
  min-width: 285px;
  height: 500px;
  text-align: center;
  /* padding: 20px; */
  animation: wobble 5s linear 1s infinite reverse;
  will-change: transform;
}

.mobile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.mobile-only {
  display: none;
}

img.front-image {
  width: 250%;
  max-width: 750px;
  /* min-width: 600px; */
  height: 550px;
  /* margin: 20px; */
}

.simbi-description {
  height: 80vh;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 20px;
  padding: 30px 0;
  margin: 0 auto;
}

.simbi-description--text {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  text-align: left;
}

.simbi-description--text p:first-child {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}

.simbi-description--text p {
  margin-bottom: 0;
}

.feature-text {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 10px;
  width: 600px;
}

.features-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
}

.sub-grid {
  display: flex;
}

.feature-box {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 280px;
  text-align: center;
}

.feature-box > span {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.pr-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: space-around;
}

.kid-img {
  width: 100%;
  height: 100%;
  background-image: url("./assets/kid.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

section.pr-text {
  background: var(--color-primary);
  color: #ffffff;
  padding: 20px 30px 0 30px;
}

.pr-contain {
  max-width: 600px;
  /* margin: 0 auto; */
  padding-bottom: 20px;
}

section.pr-text h2 {
  margin: 0;
  border-bottom: 1px solid #ffffff;
  font-size: 2rem;
  padding-bottom: 5px;
  margin-bottom: 60px;
  font-weight: bolder;
  /* text-align: center; */
}

section.pr-text p {
  margin: 0 0 20px 0;
  /* font-size: 20px; */
  border-bottom: 3px solid orange;
  padding-bottom: 5px;
}

section.pr-text p:nth-child(1) {
  border-bottom: 3px solid #f17f29;
}

section.pr-text p:nth-child(2) {
  border-bottom: 3px solid #e53b3b;
}

section.pr-text p:nth-child(3) {
  border-bottom: 3px solid #629f0a;
}

.dash {
  margin-right: 3px;
}

/* section.pr-text p */

section.pr-text p:first-of-type {
  margin-top: 10px;
}

footer h3 {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0 0 0;
  color: var(--color-primary);
}

footer p {
  font-size: 23px;
  font-weight: bolder;
  margin-bottom: 30px;
  padding: 0 20px;
}

.bx-wrapper {
  border: none !important;
  box-shadow: none !important;
  margin: 20px 0 20px 0;
  padding: 20px;
}

.bx-viewport {
  height: auto !important;
}

.testimonial-box {
  width: 650px !important;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  border: none;
  border-radius: 10px;
  /* box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2); */
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
}

.testimonial-name {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.testimonial-text {
  font-size: 1rem;
}

.start-trial {
  font-size: 1.1rem;
  /* padding: 13px 50px; */
}

img.icon {
  width: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  fill: var(--color-primary);
}

.text-lg {
  font-size: 1.84rem;
}
.text-md {
  font-size: 1.343rem;
}
.text-light {
  font-weight: lighter;
}
.bold {
  font-weight: bolder;
}
span.bold {
  /* font-weight: 700; */
}

.pb-20 {
  padding-bottom: 20px !important;
}

.btn {
  padding: 15px 0;
  width: 200px;
  font-size: 0.9rem;
  border: none;
  background: transparent;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  outline: none;
}

a.btn {
  text-align: center;
  text-decoration: none;
}

a:not([href]) {
  color: #ffffff;
}

.btn:focus {
  outline: 1px solid var(--color-primary);
}

.btn-primary {
  color: #ffffff;
  border: 2px solid var(--color-btn-primary);
}

.btn-secondary {
  color: #ffffff;
  border: 2px solid var(--color-secondary);
  background: var(--color-secondary);
}

.btn-white {
  color: var(--color-secondary);
  border: 2px solid #ffffff;
  background: #ffffff;
}

.btn-white:hover,
.btn-white:focus {
  color: #ffffff;
  border: 2px solid var(--color-secondary);
  background: var(--color-secondary);
}

.btn-primary:hover {
  color: var(--color--primary);
  background: transparent;
}

.btn-secondary:hover {
  color: var(--color-secondary);
  border: 2px solid #ffffff;
  background: #ffffff;
}

.btn-outline {
  color: #ffffff;

  /* border: 2px solid #ffffff; */
  border: 2px solid var(--color-btn-primary);
  background: transparent;
  cursor: pointer;
}

.btn-outline__secondary {
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  background: transparent;
}

.btn-outline__secondary:hover {
  color: #ffffff;
  border: 2px solid var(--color-secondary);
  background: var(--color-secondary);
}

section.bg-secondary {
  background-color: var(--color-secondary);
}

.fade-up {
  will-change: transform;
  opacity: 0;
  transform: translateY(200px);
  /* animation: fadeup 0.5s ease-in;
  animation-direction: alternate; */
  transition: 0.5s ease-in;
}

.fade-left {
  will-change: transform;
  opacity: 0;
  transform: translateX(-10vw);
}

.fade-right {
  will-change: transform;
  opacity: 0;
  transform: translateX(20vw);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 799;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.modal-open .overlay {
  display: block;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  visibility: hidden;
}

.modal-open .modal-container {
  z-index: 799;
}

.modal {
  width: 80%;
  height: 70%;
  max-width: 900px;
  max-height: 600px;
  margin: 0 auto;
  background: var(--color-primary);
  border: none;
  border-radius: 30px;
  position: relative;
  will-change: transform;
  display: none;
  opacity: 0;
  transform: scale(2.5);
  transition: 0.4s;
  transition: display 0.1s;
}

.modal-container.active {
  visibility: visible;
}

.modal.active {
  transform: scale(1);
  opacity: 1;
  display: block;
}

.modal-open .modal {
  overflow: visible;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 20px;
  background: #ffffff;
  border-radius: 50%;
  background-image: url("./assets/close.svg");
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

.modal-content {
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.modal-content__img {
  height: 80%;
}

.popup-img {
  width: 100%;
  height: 100%;
  background-image: url("./assets/kid.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position-y: bottom; */
}

.popup1 {
  background-image: url("./assets/popup1.png");
}

.popup2 {
  background-image: url("./assets/popup2.png");
}

.modal-content__text {
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
}

.modal-1 .icon-btns {
  grid-template-columns: repeat(4, 40px);
  justify-content: center;
}

.modal-2 .icon-btns {
  grid-template-columns: repeat(2, 40px);
  justify-content: center;
}

.icon-btns {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  grid-gap: 20px;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.icon-btn {
  width: 40px;
  height: 40px;
  text-decoration: none;
  border: none;
  background: transparent;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}

.icon-btn > i {
  display: inline-block;
  padding: 15px;
}

.whatsapp-icon {
  background: url("./assets/whatsapp.svg");
}

.fb-icon {
  background: url("./assets/facebook.svg");
}

.tw-icon {
  background: url("./assets/twitter.svg");
}

.share-icon {
  background: url("./assets/share.svg");
  background-position: center;
  background-size: contain;
}

.instagram-icon {
  background: url("./assets/instagram.svg");
  background-position: center;
  background-size: contain;
}

.whatsapp-chat {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 194px;
  height: 40px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  border-radius: 20px;
  background: url("./assets/whatsapp-chat.svg");
  background-position: center;
  background-size: 20% 100%;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-color: rgba(45, 212, 75, 1);
  box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.2);
  z-index: 799;
  text-decoration: none;
  font-size: 14px;
  text-align: right;
  color: #ffffff;
}

.whatsapp-chat > span {
  text-align: right;
}

.whatsapp-chat:hover,
.whatsapp-chat:focus {
  /* animation: wobble 0.2s; */
  text-decoration: none;
  font-size: 14px;
  text-align: right;
  color: #ffffff;
}

@keyframes wobble {
  0% {
    transform: translateY(20px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(20px);
  }
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(300px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeleft {
  from {
    opacity: 0;
    transform: translateX(-50vw);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes faderight {
  from {
    opacity: 0;
    transform: translateX(50vw);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 830px) {
  .intro-btns {
    width: 70%;
  }
  .simbi-description {
    grid-template-columns: 40% 30%;
  }
}

@media screen and (max-width: 825px) {
  .header-content {
    width: 95%;
  }

  .modal {
    width: 90%;
    max-height: 400px;
  }

  .modal-content {
    grid-template-columns: 40% 60%;
  }
}

@media screen and (min-width: 724px) {
  .simbi-description {
    justify-content: center;
    text-align: center;
    /* grid-template-columns: 50% 40%; */
    padding-left: 20px;
    height: auto;
  }

  .mobile-app {
    width: 135%;
  }

  .simbi-mobile {
    /* justify-content: flex-start; */
    width: 95%;
  }

  .w-200 {
    width: 80%;
    margin: 0 auto;
  }

  .w-200 .mobile-app {
    width: 340%;
  }
}

@media screen and (max-width: 724px) {
  .container {
    width: 100%;
  }

  nav .logo {
    margin-right: 5%;
    margin-right: 5%;
  }

  .header-content {
    grid-template-columns: 100%;
    width: 100%;
  }
  .header-text {
    width: 100%;
    margin-top: 20px;
  }
  .simbi-description {
    display: block;
    height: auto;
    text-align: center;
    grid-gap: 0;
  }

  .simbi-description--text {
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }

  .simbi-description--text p {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  header {
    height: auto;
  }

  .intro-text {
    order: -1;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    height: auto;
  }

  .header-text {
    width: 80%;
    /* font-size: 25px; */
  }

  .pr-grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
  }

  .kid-img {
    height: 80%;
  }

  .modal-content__img {
    height: 90%;
  }

  .popup-img {
    height: 90%;
  }

  section.pr-text {
    background: var(--color-primary);
    color: #ffffff;
    padding: 20px 30px 0 30px;
  }

  .pr-contain {
    max-width: 600px;
    /* margin: 0 auto; */
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .simbi-description {
    display: block;
    height: auto;
    text-align: center;
    grid-gap: 0;
    padding: 20px 0;
  }

  .simbi-description--text {
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }

  .simbi-description--text p {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .feature-text {
    margin-bottom: 50px;
  }

  header {
    height: auto;
  }

  .intro-text {
    order: -1;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .description {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  footer p {
    padding: 0 10px;
    text-align: center;
  }
}

@media screen and (max-width: 590px) {
  .modal {
    max-height: 100%;
    /* overflow-y: scroll; */
    width: 80%;
    height: 70%;
  }

  .modal-content {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    padding: 0;
  }

  .close-btn {
    padding: 15px;
  }

  .modal-content__text {
    font-size: 17px;
    padding: 0;
    text-align: center;
  }

  .modal-content__text > p {
    margin: 10px;
  }

  .icon-btn > i {
    padding: 10px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0;
  }
  nav {
    padding: 10px;
  }
  header {
    height: 100vh;
    padding: 20px 0;
  }

  .header-text {
    padding: 0px 10px 0 10px;
    font-size: 35px;
  }
  main h1 {
    width: 80%;
  }

  .btn {
    padding: 15px 15px;
    /* border-radius: 30px; */
    margin: 10px;
    font-size: 18px;
  }

  .intro-btns {
    width: 100%;
    flex-direction: column;
  }

  .mobile-app {
    width: auto;
    min-width: 290px;
    /* margin: 0 auto; */
    padding-right: 30px;
    margin-top: 20px;
    display: none;
  }

  img.front-image {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .feature-text {
    width: auto;
    font-size: 1.5rem;
  }

  .simbi-mobile {
    display: none;
  }

  .simbi-description > .simbi-mobile {
    display: flex;
  }

  .features-grid {
    grid-template-columns: 100%;
  }

  .feature-box > span {
    font-size: 20px;
  }

  footer h3 {
    font-size: 2rem;
    text-align: center;
  }

  .simbi-description {
    font-size: 1rem;
    /* width: 400px; */
  }

  .testimonial-box {
    width: 300px !important;
    height: 280px !important;
    box-shadow: none;
    margin-top: 20px;
    padding: 5px;
  }

  .testimonial-name {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .testimonial-title {
    font-size: 0.8rem;
  }

  .modal-content {
    grid-template-rows: 40% 60%;
  }
}
