:root {
  --color-primary: rgb(47, 200, 233);
  --color-btn-primary: rgb(32, 190, 232);
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  /* max-width: 1000px; */
  /* width: 600px; */
  margin: 0 auto;
  /* padding: 20px; */
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-v {
  flex-direction: column;
}

.flex-h {
  flex-direction: row;
}

.grid {
  grid-gap: 20px;
  display: grid;
}

header .container {
  max-width: 1000px;
}

header {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    rgb(184, 231, 246),
    #ffffff
  );
  margin: 0;
  padding: 0px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-content {
  display: grid;
  grid-template-columns: 40% 60%;
}

.intro-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
}

.header-text {
  font-size: 1.5rem;
  color: #ffffff;
  width: 100%;
  font-size: 35px;
  padding: 0 40px 0 40px;
  text-align: center;
}

.intro-btns {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 15px 0;
  width: 200px;
  font-size: 0.9rem;
  border: none;
  background: transparent;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  outline: none;
}

.btn:focus {
  outline: 1px solid var(--color-primary);
}

.btn-outline {
  color: var(--color-btn-primary);
  border: 2px solid var(--color-btn-primary);
  background: transparent;
  cursor: pointer;
}

.btn-outline:hover {
  color: #ffffff;
  /* border: 1px solid #ffffff; */
  background: var(--color-btn-primary);
}

.btn-white--fill {
  color: var(--color-primary);
  background: #ffffff;
}

.btn-primary:hover {
  color: #ffffff;
  background: #237990;
}

main {
  padding-bottom: 50px;
}

main h1 {
  font-size: 1.8em;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
}

.simbi-mobile {
  height: 90vh;
  /* width: 50vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-app {
  width: 250%;
  height: 100%;
  /* padding: 20px; */
  animation: wobble 5s linear 1s infinite reverse;
  will-change: transform;
}

@keyframes wobble {
  0% {
    transform: translateY(20px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(20px);
  }
}

.simbi-description {
  height: 90vh;
  display: grid;
  grid-template-columns: 50% 40%;
  grid-gap: 20px;
  justify-content: space-between;
  padding: 40px 0;
  max-width: 900px;
  margin: 0 auto;
}

.simbi-description--text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.simbi-description--text p {
  /* font-size: 1.5rem; */
  margin-bottom: 0;
}

.feature-text {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.features-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 25px;
}

.sub-grid {
  display: flex;
}

.feature-box {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 280px;
  text-align: center;
}

.feature-box > span {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

section.pr-text {
  background: var(--color-primary);
  color: #ffffff;
  padding: 20px 30px;
}

.pr-contain {
  max-width: 900px;
  margin: 0 auto;
}

section.pr-text h2 {
  margin: 0;
  border-bottom: 1px solid #ffffff;
  font-size: 1.8rem;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  text-align: center;
}

section.pr-text p {
  margin: 0 0 20px 0;
  font-size: 20px;
}

section.pr-text p:first-of-type {
  margin-top: 10px;
}

footer h3 {
  font-size: 2.5rem;
  /* font-weight: 500; */
  margin-bottom: 0;
  color: var(--color-primary);
}

footer p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 0 20px;
}

.btn-primary {
  color: #ffffff;
  background: var(--color-btn-primary);
}

.start-trial {
  font-size: 1.1rem;
  /* padding: 13px 50px; */
}

img.icon {
  width: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  fill: var(--color-primary);
}

.text-lg {
  font-size: 1.84rem;
}
.text-md {
  font-size: 1.343rem;
}
.text-light {
  font-weight: lighter;
}
.bold {
  font-weight: bold;
}

@media screen and (max-width: 724px) {
  .header-content {
    grid-template-columns: 1fr;
  }

  .simbi-description {
    display: block;
    height: auto;
    text-align: center;
    grid-gap: 0;
  }

  .simbi-description--text {
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }

  .simbi-description--text p {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  header {
    height: auto;
  }

  .intro-text {
    order: -1;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }

  .header-text {
    width: 80%;
    font-size: 25px;
  }
  .mobile-app {
    width: 150%;
  }
}

@media screen and (max-width: 700px) {
  .header-text {
    width: 400px;
    padding: 0;
  }

  .description {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0;
  }
  header {
    height: 300px;
    padding: 20px 0;
  }

  .btn {
    padding: 10px 20px;
    margin: 10px;
  }

  .intro-btns {
    width: 100%;
    flex-direction: column;
  }

  .simbi-mobile {
    display: none;
  }

  footer h3 {
    font-size: 2rem;
  }

  .simbi-description {
    font-size: 1rem;
    /* width: 400px; */
  }
}
